.BannerBox {
    width: 100%;
    position: relative;
   

}

.BannerBox img {
    width: 100%;
    filter: brightness(0.4);
}

.BannerText {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: absolute;
    bottom: 30px;
    right: 20px;
    gap: 10px;
}
.BannerText .s1{
    color: #FFCB05;
    font-size: 1.8rem;
    font-weight: 800;
}
.BannerText .s2{
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
}
.Box1{
    width: 100%;
}
.TitleLine{
    display: flex;
    justify-content: center;
    align-items: center;
   padding: 10px;
}
.TitleLine span{
    padding: 10px;
    background-color:#000;
    color: white;
    border-radius: 20px;
}
